.btn {
    background-color: var(--dynamic-background-2);
    color: var(--hero-font-colour);
    border: none;
    font-size: 1.5rem;
    border-radius: 50px;
    height: 100px;
    width: 250px;
    padding: 0 30px;
    box-shadow: 0 10px 30px 1px #000000;
}

.searchBtn {
    width: 600px;
}

.searchBtn:focus {
    outline: none;
    border-color: transparent;
}

.unitsButton {
    cursor: pointer;
}

.unitsButton:active {
    animation: buttonClick 0.5s;
    transition: animation;
}

@keyframes buttonClick {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}