.card {
    border-radius: 50px;
    background-color: #000000;
    opacity: 60%;
    box-shadow: 0 0 50px 8px #000000;
}

.daysCard {
    width: 50%;
    padding: 30px;
    gap: 50px;
}

.statsCard {
    height: 400px;
    width: 400px;
}

.card h3 {
    color: white;
}

.dayCol,
.dayLogoCol,
.nightLogoCol,
.dayTempCol,
.nightTempCol {
    gap: 10px;
}

.dayCol {
    margin-right: auto;
}

.valueItem {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    color: white;
}

.hourCol .valueItem,
.hourTempCol .valueItem {
    display: inline-block;
    text-align: center;
    height: 30px;
}

.hourForecast {
    background-color: #f5c74a;
    opacity: 90%;
    width: 90%;
    padding: 30px;
    gap: 15px;
}

.hourForecast .valueItem {
    color: #000000;
}

.hourCol,
.hourCodeCol,
.hourTempCol {
    gap: 75px;
}