.card {
    border-radius: 50px;
    background-color: #000000;
    opacity: 60%;
    box-shadow: 0 0 50px 8px #000000;
}

.daysCard {
    width: 50%;
    padding: 30px;
    gap: 50px;
}

.statsCard {
    height: 100%;
    width: 100%;
}

.card h3 {
    color: white;
}

.dayCol,
.dayLogoCol,
.nightLogoCol,
.dayTempCol,
.nightTempCol {
    gap: 10px;
}

.dayCol {
    margin-right: auto;
}

.valueItem {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    color: white;
    min-width: 50px;
}

.hourCol .valueItem,
.hourTempCol .valueItem {
    display: inline-block;
    text-align: center;
    height: 30px;
}

.hourForecast {
    background-color: var(--dynamic-background-2);
    opacity: 90%;
    padding: 30px;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.hourForecast .valueItem {
    color: #000000;
}

.hourCol,
.hourCodeCol,
.hourTempCol {
    gap: 50px;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1500px) {
    .daysCard {
        width: 75%;
    }
}

@media screen and (max-width: 548px) {
    .daysCard {
        width: 100%;
    }   
}