* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.btn {
    border: none;
    font-size: 1.5rem;
    border-radius: 50px;
    height: 100px;
    width: 250px;
    padding: 0 30px;
}

.nav-bar {
    font-size: 4rem;
    padding-top: 20px;
}

.nav-location {
    margin-right: auto;
    margin-left: 100px;
}

.hero {
    background-color: #FFC21A;
    height: 70vh;
}

.nav-buttons {
    margin-right: 50px;
    gap: 125px;
}

.search-btn {
    width: 600px;
}

.days-title-container {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.weather-card-row {
    margin: 100px 0;
    gap: 500px;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in;
}