/* Re-usable variables */
:root {
    --dynamic-background-1: #FFC21A;
    --dynamic-background-2: #f5c74a;

    --hero-font-colour: #000000;
}

/* Normalize ---------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--dynamic-background-2) transparent;
}

body {
    background-color: #E2E2E2;
    opacity: 0;
    transition: opacity 1s ease-in;
}

h3 {
    font-size: 2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--dynamic-background-2);
}

/* Utilities ---------------------------------------------------------------- */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

/* Hero ---------------------------------------------------------------- */
.hero {
    background: linear-gradient(to bottom, var(--dynamic-background-1), var(--dynamic-background-2));
    height: 75vh;
}

.nav-bar {
    font-size: 4rem;
    padding-top: 20px;
}

.nav-location {
    margin-right: auto;
    margin-left: 100px;
    color: var(--hero-font-colour);
    transition: color 1s;
}

.nav-buttons {
    margin-right: 50px;
    gap: 125px;
}

.hero-current-weather {
    width: 100%;
}

.hero-current-temperature {
    font-size: 5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.hero-icon {
    transform: translateX(50px);
    animation: slideRightLeft linear 5s infinite running;
}

@keyframes slideRightLeft {
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(50px);
    }
}

@media screen and (max-height: 1170px) {
    .hero-icon svg {
        height: 400px;
        width: 400px;
    }
}

.truncate {
    width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

/* Hourly forecast ---------------------------------------------------------------- */
.weather-hour-row {
    position: absolute;
    transform: translateX(-50%);
    width: 90vw;
    top: calc(75vh - 130.5px);
    left: 50%;
    z-index: 2;
    flex-wrap: nowrap;
}

.separator {
    min-width: 2590px;
    border: none;
    height: 1px;
    background-color: #FFFFFF;
}

.hero,
.days-section {
    position: relative;
}

.hero,
.days-section {
    z-index: 1;
}

.days-section {
    position: relative;
    margin-top: 200px;
}

/* Daily forecast ---------------------------------------------------------------- */
.forecast-title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 3rem;
}

/* Current weather ---------------------------------------------------------------- */
.weather-grid {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(12, 100px);
    gap: 20px;
}

.weather-card-1 {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 7;
}

.weather-card-2 {
    height: 100%;
    width: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 6;
}

.weather-card-3 {
    height: 100%;
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 8 / 13;
}

.weather-card-4 {
    height: 100%;
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 9 / 13;
}

.stats-info {
    gap: 10px;
}

@media screen and (max-width: 1500px) {
    .weather-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1000px);
    }
    
    .weather-card-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .weather-card-2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .weather-card-3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    
    .weather-card-4 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
}

/* Footer ---------------------------------------------------------------- */
.footer-shape {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-shape svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 300px;
}

.footer-shape .shape-fill {
    fill: var(--dynamic-background-1);
}